html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'm6x11', sans-serif !important;
  background-color: #000;
  margin-block: 0;
}

body {
  background-image: url('../../public/background.webp') !important;
  background-size: cover !important;
}

#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv-frame {
  position: relative;
  border-radius: 50px;
  border: 20px solid #000;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
}

.tv-screen {
  border-radius: 30px;
  overflow: hidden;
  padding: 24px;
  flex-grow: 1;
}

/* Reduce padding when mobile for tv-screen class */
@media (max-width: 845px) {
  .tv-screen {
    padding: 15px;
  }
}

@font-face {
  font-family: 'm6x11';
  src: url('../../public/fonts/m6x11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.box-container {
  background-color: #333;
  border: 4px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #ecf8ff;
}

.box-header {
  background-color: #555;
  padding: 10px;
  border-bottom: 4px solid #000;
  text-align: center;
}

.header-text {
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  color: #ecf8ff;
  align-items: center;
  justify-content: center;
}

.chatbot-messages {
  background-color: #444;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  border-bottom: 4px solid #000;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-message {
  background-color: #9e4440;
  padding: 10px 15px;
  color: #ecf8ff;
  text-shadow: none;
  align-self: flex-end;
  width: 66%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.bot-message {
  background-color: #13599c;
  padding: 10px 15px;
  color: #ecf8ff;
  text-shadow: none;
  width: 66%;
  align-self: flex-start;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.chatbot-input {
  padding: 10px;
  background-color: #9fa8b4;
  border: 4px solid #000;
  border-radius: 10px;
  margin-top: 10px;
}

.chatbot-input input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.chatbot-input button {
  background-color: #f7cd4b;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
